@charset "UTF-8";
body {
    background-color: #570b0b2c;
    background-image: url(bg.png);
    background-repeat: repeat;
}
h1 {
    background-color: pink;
    color: #0bd;
    font-family: 'M PLUS Rounded 1c',sans-serif;
}
h2 {
    font-size: 20px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
p {
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
    line-height: 1.7;
}
